<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/menu.js"></script>
    <link rel="stylesheet" href="../css/menu.css" />
  </head>
  <body>

    <div id="btn-container">
      <button id="summary">Summary</button>
    </div>
    
    <form id='lens-form'>
    </form>

    <div id="search">
      <input type="text" placeholder="Find A New Lens"/>
      <img src="../img/magnifier.png" />
    </div>

    <div id="lens-container"></div>

  </body>
</html>
